pipeline/blob_to_sqldb.json
{
	"name": "blob_to_sqldb",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Folder_Names",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "Source"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Folder Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folder Names').output.childItems",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "2021",
										"activities": [
											{
												"name": "Blob_to_Server_1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "ID",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Date",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Date",
																	"type": "DateTime",
																	"physicalType": "date"
																}
															},
															{
																"source": {
																	"name": "FirstName",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "FirstName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LastName",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "LastName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Address",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Address",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Source_Dataset",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": {
																"value": "@concat('Source/',item().name,'/','01/','01/')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": "adf-azure-server-1.database.windows.net",
															"DatabaseName": "abt_adf_sql_db",
															"SchemaName": "dbo",
															"TableName": "Destination"
														}
													}
												]
											}
										]
									},
									{
										"value": "2022",
										"activities": [
											{
												"name": "Blob_to_Server_2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "ID",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Date",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Date",
																	"type": "DateTime",
																	"physicalType": "date"
																}
															},
															{
																"source": {
																	"name": "FirstName",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "FirstName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LastName",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "LastName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Address",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Address",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Source_Dataset",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": {
																"value": "@concat('Source/',item().name,'/','01/','01/')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": "adf-azure-server-2.database.windows.net",
															"DatabaseName": "abt_adf_sql_db",
															"SchemaName": "dbo",
															"TableName": "Destination"
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Blob_to_Server_3",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "ID",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "ID",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "Date",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Date",
															"type": "DateTime",
															"physicalType": "date"
														}
													},
													{
														"source": {
															"name": "FirstName",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "FirstName",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "LastName",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "LastName",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "Address",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Address",
															"type": "String",
															"physicalType": "varchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Source_Dataset",
												"type": "DatasetReference",
												"parameters": {
													"FolderName": {
														"value": "@concat('Source/',item().name,'/','01/','01/')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "AzureSqlTable1",
												"type": "DatasetReference",
												"parameters": {
													"ServerName": "adf-azure-server-3.database.windows.net",
													"DatabaseName": "abt_adf_sql_db",
													"SchemaName": "dbo",
													"TableName": "Destination"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FolderName": {
				"type": "string",
				"defaultValue": "Source"
			}
		},
		"variables": {
			"Temp": {
				"type": "String",
				"defaultValue": "2021"
			}
		},
		"folder": {
			"name": "Assignments"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-06T08:02:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}