pipeline/Blob_to_db.json
{
	"name": "Blob_to_db",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableMain",
						"type": "DatasetReference",
						"parameters": {
							"SecretKey": "Sqlserver1",
							"SchemaName": "dbo",
							"TableName": "Control_table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Source_to_Stage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "Truncate table @{item().Destination_Schema_Name}.@{item().Destination_Table_Name}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StorageActMain",
									"type": "DatasetReference",
									"parameters": {
										"StorageActSecretKey": {
											"value": "@item().Source_Secret_Key",
											"type": "Expression"
										},
										"FolderPath": {
											"value": "@item().Source_Folder_Name",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().Source_File_Name",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@item().Source_Container_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableMain",
									"type": "DatasetReference",
									"parameters": {
										"SecretKey": {
											"value": "@item().Db_Secret_Key",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().Destination_Schema_Name",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().Destination_Table_Name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stage_to_Table",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Source_to_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseMain",
								"type": "LinkedServiceReference",
								"parameters": {
									"SecretKey": {
										"value": "@item().Db_Secret_Key",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "Exec @{item().Stage_To_Temp_SP_Name} @{item().Destination_Table_Name},@{item().Destination_Dim_Table_KeyColumn},@{item().Destination_Temp_Table_Name},@{item().Destination_Temp_Table_KeyColumn};",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Get_Last_Modified_Date",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Temp_To_Dim",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select Max(Updated_on) as Last_Modified from @{item().Destination_Temp_Table_Name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTableMain",
									"type": "DatasetReference",
									"parameters": {
										"SecretKey": {
											"value": "@item().Db_Secret_Key",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().Destination_Schema_Name",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().Destination_Table_Name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Temp_To_Dim",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stage_to_Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Table_to_Dim]",
								"storedProcedureParameters": {
									"Source_Table_Name": {
										"value": {
											"value": "@item().Destination_Temp_Table_Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Destination_Table_Name": {
										"value": {
											"value": "@item().Destination_Dim_Table",
											"type": "Expression"
										},
										"type": "String"
									},
									"Delta_Watermark": {
										"value": {
											"value": "@item().Delta_Watermark",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseMain",
								"type": "LinkedServiceReference",
								"parameters": {
									"SecretKey": "Sqlserver1"
								}
							}
						},
						{
							"name": "Update_HWM",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get_Last_Modified_Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateControlTable]",
								"storedProcedureParameters": {
									"Id": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int16"
									},
									"LastModified": {
										"value": {
											"value": "@activity('Get_Last_Modified_Date').output.firstRow.Last_Modified",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseMain",
								"type": "LinkedServiceReference",
								"parameters": {
									"SecretKey": "Sqlserver1"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Assignments"
		},
		"annotations": []
	}
}