pipeline/Fail.json
{
	"name": "Fail",
	"properties": {
		"activities": [
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "CopyFromBlobToBlob1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('CopyFromBlobToBlob1').error.Message",
						"type": "Expression"
					},
					"errorCode": "2200"
				}
			},
			{
				"name": "CopyFromBlobToBlob1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SampleDataActivities",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StorageActMain",
						"type": "DatasetReference",
						"parameters": {
							"StorageActSecretKey": "storageact",
							"FolderPath": "InputTrue",
							"FileName": "sampletrue1.csv",
							"ContainerName": "adfactivitiessamplediles"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Activities/General"
		},
		"annotations": []
	}
}