pipeline/full_load.json
{
	"name": "full_load",
	"properties": {
		"activities": [
			{
				"name": "FullLoad From Source To Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TRANSACTIONPARTITIONKEY",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONPARTITIONKEY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONKEY",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONKEY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"DAYPARTKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"DAYPARTKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"TRANSACTIONDATEKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"TRANSACTIONDATEKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"BUSINESSDATEKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"BUSINESSDATEKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"PROFITCENTERKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"PROFITCENTERKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"STOREKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"STOREKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"STORESTATUSKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"STORESTATUSKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"ORGANIZATIONKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"ORGANIZATIONKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"PERIODICORGANIZATIONKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"PERIODICORGANIZATIONKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"REGISTERKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"REGISTERKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"PTXGUID\"",
									"type": "String"
								},
								"sink": {
									"name": "\"PTXGUID\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"CHARGES\"",
									"type": "String"
								},
								"sink": {
									"name": "\"CHARGES\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"DEBIT\"",
									"type": "String"
								},
								"sink": {
									"name": "\"DEBIT\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"DISCOUNTS\"",
									"type": "String"
								},
								"sink": {
									"name": "\"DISCOUNTS\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"TAXES\"",
									"type": "String"
								},
								"sink": {
									"name": "\"TAXES\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"REMITTANCE\"",
									"type": "String"
								},
								"sink": {
									"name": "\"REMITTANCE\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"GUESTCOUNT\"",
									"type": "String"
								},
								"sink": {
									"name": "\"GUESTCOUNT\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"DRAWERKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"DRAWERKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"DEBITAMT\"",
									"type": "String"
								},
								"sink": {
									"name": "\"DEBITAMT\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"REFUNDAMT\"",
									"type": "String"
								},
								"sink": {
									"name": "\"REFUNDAMT\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"SSSCOUNT\"",
									"type": "String"
								},
								"sink": {
									"name": "\"SSSCOUNT\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"STORESTATUS2KEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"STORESTATUS2KEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"PROFITCENTERKEY_ORIG\"",
									"type": "String"
								},
								"sink": {
									"name": "\"PROFITCENTERKEY_ORIG\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"CATERINGKEY\"",
									"type": "String"
								},
								"sink": {
									"name": "\"CATERINGKEY\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "\"MISCCHARGES\"",
									"type": "String"
								},
								"sink": {
									"name": "\"MISCCHARGES\"",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CREATEDTIME",
									"type": "String"
								},
								"sink": {
									"name": "CREATEDTIME",
									"type": "String"
								}
							}
						]
					}
				},
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load From Stage To Target",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FullLoad From Source To Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				}
			},
			{
				"name": "Success_Stage_Logs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FullLoad From Source To Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT '@{activity('FullLoad From Source To Stage').output.executionDetails[0].status}' AS Status, 'stage.POCDataset_stg' AS TargetTable, GETDATE() AS Run_Date,\n'pl_FullLoad' AS PipeLineName, 'Full' AS TypeOfLoad",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Error_Logs_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FullLoad From Source To Stage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT '@{activity('FullLoad From Source To Stage').output.executionDetails[0].status}' AS Status, 'stage.POCDataset_stg' AS TargetTable, GETDATE() AS Run_Date,\n    'pl_FullLoad' AS PipeLineName, 'Full' AS TypeOfLoad",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update_WaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load From Stage To Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[[dbo].[p_Update_WaterMark]",
					"storedProcedureParameters": {
						"Watermark_value": {
							"value": {
								"value": "@{activity('Get MaxDate').output.firstRow.CreatedTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				}
			},
			{
				"name": "Success_Sink_Logs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load From Stage To Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT '@{activity('Load From Stage To Target').output.executionDetails[0].status}' AS Status, 'dbo.POCDataset' AS TargetTable, GETDATE() AS Run_Date,\n'pl_FullLoad' AS PipeLineName, 'Full' AS TypeOfLoad",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				}
			},
			{
				"name": "Error_Sink_logs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load From Stage To Target",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT '@{activity('Load From Stage To Target').output.executionDetails[0].status}' AS Status, 'dbo.POCDataset' AS TargetTable, GETDATE() AS Run_Date,\n'pl_FullLoad' AS PipeLineName, 'Full' AS TypeOfLoad",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				}
			},
			{
				"name": "Get MaxDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(CreatedTime) AS CreatedTime FROM dbo.POCDataSet",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					}
				}
			}
		],
		"folder": {
			"name": "Assignments"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T13:30:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}